:root{
--primary-color: rgb(165, 133, 1); 
--gradients-color: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

h5{
    margin:15px auto 5px auto ;
}

body {
background: var(--gradients-color);
}
a {
  color:rgb(255, 255, 255);
  text-decoration: none;
   margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}
a:hover{
    color: rgb(226, 159, 43);
}
.homepage-link, .photo-link, .contact-link{
    background: var(--primary-color);
}
.img-fluid{
    max-width: 100%;
    display: block;
    margin: 30px auto;
}
.email{
    color: rgb(247, 192, 9);
}
.croissant{
    background: white;
}
.wiki-link{
    text-align: center;
    text-decoration: underline;
    color: rgb(210, 228, 228);
}
